<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First File</title>

    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <span class="data"><%= data %></span>
    <h1>This is Some First File</h1>

    <img src="./img.jpg" alt="">
    
    <script src="./script.js"></script>
</body>
</html>